.hidden{
    display: none;
}

.btn-expandir {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 2px 6px;
}

.fechas-juntas {
    display: flex;
    gap: 40px; /* separación entre inicio y final */
    margin-bottom: 15px;
}

    .fechas-juntas div {
        display: flex;
        flex-direction: column; /* label arriba */
        gap: 8px;
    }

        .fechas-juntas div input[type="date"],
        .fechas-juntas div input[type="time"] {
            display: inline-block;
        }

        .fechas-juntas div .inputs-inline {
            display: flex;
            gap: 10px; /* espacio entre fecha y hora */
        }
.campo-fecha{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campo-fecha label{
    font-weight: bold;
    margin-bottom: 5px;
}

.campo-fecha input{
    width: 100%
}

.tab-pane {
    display: none;
}

    .tab-pane.active.show {
        display: block;
    }

.nav-link-custom {
    background-color: var(--bg-principal);
    color: var(--txt-principal);
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s; /* suave transición */
}
    .nav-link-custom.active {
        background-color: var(--bg-secundario);
        color: var(--txt-principal);
        border: 1px solid var(--negro);
        border-bottom: none;
        font-weight: bold;
    }

.grupo-item {
    background: var(--bg-principal);
    border: 1px solid var(--borde-defecto);
}

.materia-suelta-item {
    background: var(--bg-principal);
    border: 1px solid var(--borde-defecto);
}