.hidden{
    display: none;
}

.btn-expandir {
    background: blue;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 2px 6px;
}

.fechas-juntas{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}

.campo-fecha{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campo-fecha label{
    font-weight: bold;
    margin-bottom: 5px;
}

.campo-fecha input{
    width: 100%
}

.tab-pane {
    display: none;
}

    .tab-pane.active.show {
        display: block;
    }

.nav-link {
    background-color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer; /* cursor de mano */
}
    .nav-link.active {
        background: var(--azul-twitter) !important;
        color: white !important;
        font-weight: bold;
    }
