/* ROBOTO FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*Colores*/
:root {
    --azul-twitter: #1db7f7;
    --fondo1: #082050;
    --fondo2: #0F0C20;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body {
    /* Center login both horizontally and vertically */
    min-height: 100vh;
    margin: 0;
    background-color: white;
}

.signin-box {
    min-height: auto;
}

.restablecer-box {
    min-height: 350px;
}

.verify-box {
    min-height: 330px;
}


/* For very small screens use normal flow so box can scroll */
@media (max-width: 850px) {

 
    .signin-box,
    .restablecer-box,
    .verify-box {
        width: 90%;
        max-width: 420px;
    }

    .logo img {
        width: 180px;
    }
}

.input-box-code {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 23px;
}

    .input-box-code input {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 32px;
        -moz-appearance: textfield;
    }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


img {
    width: 270px;
    height: auto;
}

.login-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0 50px 0;
}

    .login-header header {
        font-family: 'Poppins', sans-serif;
        color: #333;
        font-size: 30px;
        margin-bottom: 5px;
    }

    .login-header p {
        color: #555;
    }

.input-box {
    position: relative;
    width: 100%;
}

    .input-box label {
        position: absolute;
        top: 15px;
        left: 15px;
        color: #555;
        transition: .15s ease-in-out;
    }

    .input-box input {
        width: 100%;
        height: 50px;
    }

    .input-box .input-field {
        font-size: 1em;
        color: #333;
        padding-left: 15px;
        margin-bottom: 25px;
        border: 1px solid #ddd;
        border-radius: 3px;
        outline: none;
    }

    .input-box input[type="password"] {
        margin-bottom: 25px;
    }

    .input-box .input-field:focus {
        border: 2px solid #3a7bd5;
    }

.input-field:focus ~ label, .input-field:valid ~ label {
    top: -8px;
    left: 12px;
    font-size: 12px;
    color: #3a7bd5;
    background: #FFF;
    padding: 0 5px;
}

.input-field:valid ~ label {
    color: #555;
}

.forgot {
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

#check {
    margin-right: 10px;
}

section .forgot-link {
    font-weight: 500;
    text-decoration: none;
    color: #3a7bd5;
}

.input-submit {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #FFF;
    background-color: #3a7bd5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.middle-text {
    position: relative;
    width: 100%;
    margin: 30px 0;
}

.or-text {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    color: #777;
    padding: 10px;
}

hr {
    border: 1px solid #ddd;
}

.social-sign-in {
    display: flex;
    gap: 15px;
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}

.input-submit-signin {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0 30px;
    background: #FFF;
    border: 1px solid #CCC;
    justify-content: center;
    align-items: center;
}

.input-google {
    width: 100%;
    height: 50px;
    padding: 0 30px;
    background: #FFF;
    border: 1px solid #CCC;
}

    .input-google img {
        width: 25px;
    }

    .input-google p {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        width: 90%;
    }


    .input-google:hover,
    .input-twitter:hover {
        opacity: 0.9;
    }

.sign-up {
    position: absolute;
    bottom: -30px;
    right: 0;
}

    .sign-up p {
        font-size: 14px;
        color: #333;
    }

        .sign-up p > a {
            text-decoration: none;
        }



/* --- BOTÓN mostrar/ocultar contraseña --- */

/* Espacio a la derecha del input para el botón */
.input-box .input-field {
    padding-right: 45px;
}

/* Wrapper para el input de contraseña + botón */
.password-wrapper {
    position: relative;
    width: 100%;
    display: block;
}

/* Botón mostrar/ocultar */
.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    transition: background .15s ease-in-out;
}

.password-toggle:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(58,123,213,0.15);
}

.password-toggle:hover {
    background: rgba(0,0,0,0.03);
}

.password-toggle svg {
    display: block;
    width: 20px;
    height: 20px;
    pointer-events: none;
}


/*Personalizados*/
.titulo-color{
    color:var(--azul-twitter);
    padding-top: 50px;
}
.mb-10 {
    margin-bottom: 10px;
}
.titulo-bienvenida{
    color:white;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 40px;
}


/* Fila principal */
.auth-row {
    min-height: auto; /* que crezca según contenido */
}

.auth-cover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centrar vertical dentro de su espacio */
    align-items: center;
    padding: 30px;
    height: auto; /* importante para que no corte */
}
.auth-cover .cover-image img {
    max-width: 300px;
    width: 80%;
    height: auto;
}

.auth-cover-wrapper .auth-cover .title {
    text-align: cover;
    margin-bottom: 40px;
}


.auth-cover-wrapper .auth-cover .cover-image {
    max-width: 100%;
    margin: auto;
}

    .auth-cover-wrapper .auth-cover .cover-image img {
        width: 100%;
    }


.signin-wrapper {
    background: #fff;
    padding: 60px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .signin-wrapper {
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .signin-wrapper {
        padding: 30px;
    }
}

.signin-wrapper .form-wrapper {
    width: 100%;
}



/*Botones*/
.main-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 15px 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-in-out;
    border: 1px solid transparent;
    overflow: hidden;
}

    .main-btn i {
        font-size: 17px;
    }

    .main-btn svg {
        fill: currentColor;
    }

    .main-btn:hover {
        color: inherit;
    }

.danger-btn {
    background: #d50100;
    color: #fff;
}

    .danger-btn:hover {
        color: #fff;
    }

.danger-btn-outline {
    background: transparent;
    color: #d50100;
    border-color: #d50100;
}

    .danger-btn-outline:hover {
        color: #fff;
        background: #d50100;
    }

.danger-btn-light {
    background: rgba(213, 1, 0, 0.12);
    color: #d50100;
}

    .danger-btn-light:hover {
        color: #d50100;
    }