:root {
    --color-primario: #4A90E2;
    --color-secundario: #50E3C2;
    --color-texto: #333333;
    --color-fondo: #FFFFFF;

    --azul-twitter: #1db7f7;
    --fondo1: #082050;
    --fondo2: #0F0C20;
}
