:root {
    /*DEFINICIÓN DE COLORES*/
    /*Azules*/
    /*Azul bootstrap*/
    --azul-50: #D7E7FF;
    --azul-100: #AECFFE;
    --azul-200: #86B6FE;
    --azul-300: #5E9EFE;
    --azul-400: #3586FD;
    --azul-500: #0D6EFD;
    --azul-600: #0256D3;
    --azul-700: #01419E;
    --azul-800: #012B6A;
    --azul-900: #001635;
    /*Azul twitter*/
    --cyan-50: #BEEAFD;
    --cyan-100: #9EE0FC;
    --cyan-200: #7ED6FA;
    --cyan-300: #5ECCF9;
    --cyan-400: #3DC1F8;
    --cyan-500: #1DB7F7;
    --cyan-600: #0899D5;
    --cyan-700: #0673A0;
    --cyan-800: #044C6B;
    --cyan-900: #022635;
    /**************************************************/
    /*Grises*/
    --gris-50: #E8EBEF;
    --gris-100: #E3E6EC;
    --gris-200: #DFE2E9;
    --gris-300: #DADEE5;
    --gris-400: #D6DAE2;
    --gris-500: #D1D6DF;
    --gris-600: #9EA9BC;
    --gris-700: #6B7B98;
    --gris-800: #475266;
    --gris-900: #232933;
    /*ByN*/
    --blanco: #ffffff;
    --negro: #000000;
    /*Verde*/
    --verde-500: #00f236;
    /*Amarillo*/
    --amarillo-500: #ffc107;
    /*Rojo*/
    --rojo-500: #ff001b;
    /**************************************************/
}