:root {
    /*Definición de colores*/
    --color-1: #4A90E2;
    --color-2: #50E3C2;
    --color-texto: #333333;
    --azul-twitter: #1db7f7;
    --fondo1: #082050;
    --fondo2: #0F0C20;
    --grayhover: #c6c6c6;
    /*Variables utilizables por componentes*/
    --main-color: var(--azul-twitter);
    --second-color: var(--azul-twitter);
    --card-header: var(--azul-twitter);
    --fondo-color: #ffffff;
    --hover-gris: var(--grayhover);
}
