/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* INTER FONT*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    /*Definición de fuentes*/
    --font-inter: inter, system-ui, sans-serif;
    /*Fuentes utilizables*/
    --main-fuente: var(--font-inter);
    --font-google: 'Poppins', sans-serif;

}
