.table-responsive {
    margin: 30px 0;
}

.table td, .table th {
    font-size: 22px;
}

#modalValidacion p {
    font-size: 20px;
}

.modalValidacion-footer-autorizado, .modalValidacion-footer-pendiente .modalValidacion-footer-denegado {
    display: flex;
    justify-content: space-between;
}

.btn-outline-danger:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.5);
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 220, 220, 1);
}

.btn-ver{
    border-radius: 50%;
    
}