/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
*/


* {
    font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    overflow: hidden;
}

/*    body .custom-btn-primary {
        background-color: #283043;
        border-color: #283043;
    }

        body .custom-btn-primary:hover {
            background-color: #323a4f;
        }*/

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-auto-rows: 70px 1fr;
    height: 100vh;
}
