@model List<ControlActividades.Models.db.tbAvisos>
@{
    int alumnoId = ViewBag.AlumnoId;
}

<div class="alert alert-info mt-3">
    <h4>Últimos Avisos</h4>
    <ul id="avisos-container" class="list-group">
        <li class="list-group-item text-center text-muted">Cargando avisos...</li>
    </ul>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/alumno")
}

@section Styles{
    @Styles.Render("~/Content/Alumno/css")
}
