@model List<ControlActividades.Models.db.tbAvisos>
@{ 
    int alumnoId = ViewBag.AlumnoId;
}

<div class="alert alert-info">
    <h4>Últimos Avisos</h4>
    <ul id="avisos-container" class="list-group">
        <li class="list-group-item">Cargando avisos...</li>
    </ul>
</div>

<script>
    let alumnoIdGlobal = '@alumnoId';
</script>
