@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";

    int alumnoId = ViewBag.AlumnoId;
}

<div class="inputs-content">
    <div class="input-buscar">
        <input type="text" placeholder="Buscar..." class="form-control" />
        <!-- <button class="btn btn-primary">Buscar</button> -->
    </div>
</div>

<div class="content"></div>

