@{
    ViewData["Title"] = "CrearAvisoMateriaModal";
}


<div class="modal fade" id="crearAvisoMateriaModal" tabindex="-1" aria-labelledby="crearAvisoMateriaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearAvisoMateriaModalLabel">Crear Aviso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="avisosForm">
                    <label for="titulo">Título del Aviso:</label>
                    <input type="text" id="titulo" class="form-control" autocomplete="off" autocorrect="off" spellcheck="false">

                    <label for="descripcion">Descripción del Aviso:</label>
                    <textarea id="descripcionAviso" class="form-control" rows="4"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="publicarAviso()">Publicar</button>
            </div>
        </div>
    </div>
</div>
