/*
Blanco suave: #f5f5f5, #f7f7f7 

Gris casi blanco: #fafafa.
*/

.page {
    display: grid;
    overflow-y: auto;
    grid-template-rows: auto 1fr;
    height: 100vh;
    /* background-color: #f7f7f7; */
    /* background-color: #fafafa; */
    background-color: #f5f5f5;
    padding: 12px;
}

.inputs-content {
    /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
    display: flex;
    /* justify-content: flex-end; */
    padding: 20px;
}

.input-buscar {
    display: flex;
    flex-direction: row;
    width: 35%;
    gap: 10px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    gap: 25px;
    /* grid-template-rows: repeat(auto-fill, minmax(150px, 1fr)); */

    padding: 20px;
}
