.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* width: 100%; */
    /* height: 60px; */
/*    box-shadow: 4px 1px 3px 0 rgba(0, 0, 0, 0.1);*/
    box-shadow: 4px 1px 3px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1;
}
