.sidebar {
    /* width: 250px; */
    /* height: 100vh; */
    /* position: fixed; */
    /* top: 0;
  left: 0; */
    grid-row: 1 /3;
    background: #fff;
    border-right: 2px solid #eaeaea;
    padding: 20px 15px;
    transition: all 0.3s;
}

    /* .sidebar a {
  display: block;
  padding: 10px 15px;
  margin: 5px 0;
  color: #333;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.2s;
} */

    .sidebar a {
        display: block;
        padding: 10px 15px;
        color: #333;
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.3s ease;
    }

        .sidebar a:hover,
        .sidebar a.active {
            background: #1db7f7;
            color: #fff;
        }

div .sub-item {
    /* font-size: 14px; */
    padding-left: 25px;
}

.layout .submenu .sub-item:hover {
    background-color: #f5f5f5;
    color: #333333;
}

/* Contenido principal */

.icono-titulo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

/* Para móviles: sidebar ocultable */
@media (max-width: 768px) {
    .sidebar {
        left: -250px; /* se oculta */
    }

        .sidebar.active {
            left: 0; /* se muestra */
        }

    .content {
        margin-left: 0;
    }
}
