/* Contenedor principal de la sección de detalle de la materia */
.materia-container {
    width: 100%;
    max-width: 100%;
    /*background: linear-gradient(135deg, #ffffff, #f8f9fa);*/ /* Degradado sutil */
    /*border-radius: 12px;*/ /* Bordes un poco más redondeados */
    /*box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);*/ /* Sombra más difusa */
    /*    padding: 10px;*/
    /*    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; */
    /* Efecto al pasar el mouse */

/*    background-color: white;
    height: 100dvh;*/
}

/* Efecto hover para mejorar la interacción */
/*    .materia-container:hover {
        transform: translateY(-3px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }
*/

/*Contenedor donde se alojara la informacion de cada seccion*/
.materia-content {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    min-height: max-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
/*    background: rgba(255, 255, 255, 0.8);*/
/*    backdrop-filter: blur(5px);*/
    /*    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
    margin: 0 auto;
}
/*Contenedor de la seccion */
.seccion {
    width: 100%; /* Esto hace que el div ocupe todo el ancho disponible */
    height: auto; /* El alto se adapta al contenido */
    max-width: 80%; /* Asegura que no se desborde del contenedor */
    min-height: 100px; /* Se puede definir un alto mínimo si se desea */
    max-height: 600px; /* El alto máximo será de 500px */
    overflow-y: auto; /* Aparecerá un scroll si el contenido excede 500px */
}
