.btn-primary-custom {
    background: var(--azul-500);
    color: var(--texto-principal);
    border: none;
}

.btn-primary-custom:hover {
    background: var(--btn-bg-principal:hover);
}

    .btn-primary-custom:active {
        background: var(--btn-bg-principal:active);
    }

